.pages-forms{
    width: calc(100% - var(--left-menu-width));
    transform: translateY(60px);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    background: var(--cyan);
    height: 95vh;

}
.reg{
    width: 48%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    background-color: whitesmoke;
    padding: 15px;
}
.inp-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.inp-r{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    height: 70px;
}
.inp-col{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 55px;
    justify-content: space-between;
}
input{
    border: 1px solid grey;
    height: 30px;
    outline-color: var(--cyan);
}
h1{
    text-align: center;
}
button{
    background: var(--cyan);
    outline: none;
    border: none;
    height: 40px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.error_message{
    color:red
}
.log{
    width: 25%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    background-color: whitesmoke;
    padding: 15px;
}
